main{
  width: calc(100% - 15vw);
  min-height: 100vh;
  height: 100%;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  background-color: #3c3c3c;
}

.content{
    background-color: #5e5e5e;
    margin: 2vh 2vw;
    border: 1px solid #ffffff08;
    border-radius: 10px;
    box-shadow: 0 14px 30px #00000026;
}

table{
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
}
td, th{
    border-bottom: 1px solid white;
    text-align: center;
}
tr:last-child td{
    border-bottom: none;
}
th{
    height: 55px;
    font-size: 25px;
    color:#ffffff50;
}
td{
    height: 50px;
    color: #ffffff85;
    font-size: 20px;
}
td:nth-child(1){
    font-weight: bold;
}
td:nth-child(1), td:nth-child(2), td:nth-child(3){
    border-right: 2px solid #ffffff15;
}

.hover_add{
    color: #ffffff;
    cursor: pointer;
}

.hover_add:hover, .weekend{
    color:#b6ea6b;
}
.has_meal{
    color: white;
}

.hover_add:hover img{
    filter: brightness(0) saturate(100%) invert(79%) sepia(38%) saturate(465%) hue-rotate(36deg) brightness(101%) contrast(92%);
}


