main{
  width: calc(100% - 15vw);
  min-height: 100vh;
  height: 100%;
  margin-left: 15vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-dark-gray);
}

.content{
    background-color: var(--clr-hex-5e5e5e);
    margin: 2vh 2vw;
    border: 1px solid var(--clr-rgba-255-255-255-0-08);
    border-radius: 10px;
    box-shadow: 0 14px 30px var(--clr-rgba-0-0-0-0-26);
    height: fit-content;
    padding-bottom: 10px;
}

.pin_row{
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
}

.pin_row td{
    color: black;
}

table{
    width: 100%;
    height: fit-content;
    border-collapse: collapse;
}
td, th{
    border-bottom: 1px solid white;
    text-align: center;
}
tr:last-child td{
    border-bottom: none;
}
th{
    height: 55px;
    font-size: 25px;
    color:var(--clr-rgba-255-255-255-0-5)
}
td{
    height: 50px;
    color: var(--clr-rgba-255-255-255-0-851);
    font-size: 20px;
}



